body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-item {
    margin: 0 15px;
}

.carousel-item img {
    height: 500px;
    object-fit: cover;
}

.accordion-button {
    font-weight: bold;
}

.text-light {
    text-decoration: none;
}

.card {
    border-radius: 12px;
    border: none;
}

.desenvolvedoras {
    font-family: cursive;
}

.cartas {
    width: 100px;
    height: 100px;
    background-color: #20B2AA;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    margin: 10px;
    cursor: pointer;
}

.carta-virada {
    width: 100px;
    height: 100px;
    background-color: #fefefe;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    margin: 10px;
    cursor: pointer;
}

.border {
    border-radius: 7%;
}

.sobre {
    background-color: #8fcefa;
    margin: 4%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.btn{
    background-color:  #20B2AA;
    color: #fefefe;
    font-family: cursive;
}
.navbar{
    background-color: #87CEFA;
}
.logos{
    font-family: cursive;
    color: #fefefe;
}
main{
    font-family: cursive;
}
.contato{
    
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
